<header>
    <h1>Top 20 Best Gluten Free Recipes</h1>
    <h2>For people with Celiacs, we know how hard it can be to find recipes that we love,
         or if youre trying to change up your diet. Feel free to add your own unique recipes and share!</h2>
    <nav>
        <a class="new-link" href="/recipies/new">Add New Gluten Free Recipe!</a>
    </nav>
</header>